<div class="text-center padded-top">
  <%= link_to 'This page helped', help_page_path(@page, :helped => true), method: :post, class: 'button radius center small' %>
  <%= link_to 'This page did not help', help_page_path(@page, :helped => false), class: 'button radius center small', data: { confirm: 'Please leave us some feedback in the comments, we\'ll do our best to fix the problems.' }, method: :post %>
  <p><%= pluralize(@page.did_help, 'person', 'people') %> found this page helpful, <%= @page.did_not_help %> did not</p>
</div>
