<div class="row padded-vert">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="current">Editing Page: <%= @page.title %></li>
  </ul>
</div>

<div class="padded-vert-small">
  <%= render 'form' %>
</div>
