<div class="row padded-vert">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="current">New Page</li>
  </ul>
</div>

<div class="padded-vert">
  <%= render 'form' %>
</div>
