// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require_tree .
//= require tinymce
//= require jquery.swifttype.autocomplete
//= require modernizr
//= require slicknav
//= require foundation

$(document).foundation();

$(function() {
  $('#st-search-input').swiftype({
    resultContainingElement: "#st-results-container",
    searchFields: {'page': ['title','content']},
    engineKey: '<%= ENV['SWIFTYPE_ENGINE_KEY'] %>',
    renderFunction: customRenderFunction
  });

  $('#st-search-input').swiftypeSearch({
    resultContainingElement: "#st-results-container",
    searchFields: {'page': ['title','content']},
    engineKey: '<%= ENV['SWIFTYPE_ENGINE_KEY'] %>',
    renderFunction: customRenderFunction
  });

});

var customRenderFunction = function(document_type, item) {
    var out = '<p class="title">' + item['title'] + '</p>';
    out = out.concat('<p class="category">Category: ' + item['category'] + '</p>');
    out = out.concat('<p class="updated_at">Updated last: ' + item['updated_at'] + '</p>');
    return out;
};
