/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* == GENERAL == */

.no-pages a:hover, #sidebar-single_post a:hover {
  background-color: transparent !important;
}

.padded-top {
  padding-top: 2.0em;
}

.padded-top-small {
  padding-top: 0.4em;
}


/* == COMMITS == */

#recent-commits {
  list-style: decimal;
  text-align: left;
}

#recent-commits li {
  padding-bottom: 8px;
}

/* == PAGE == */

#page {
  padding-top: 0 !important;
}

#sidebar-single_post {
  margin-bottom: 50px;
}

/* == CATEGORIES == */

.page-panel {
  border-radius: 3px;
}

.page-panel > a > div {
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding:20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.page-panel > .top-image {
  height:50px;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.category-panel, .page-panel {
  float:left !important;
}

.category-panel i, .page-panel i {
  color: #469ad0;
}

.category-panel span, .page-panel span {
  color: #ec7331;
}

.category-panel > a > div, .page-panel > a > div {
  height:200px;
  color: #000100;
}

.category-panel > a > div:hover, .page-panel > a > div:hover {
  border-radius: 3px;
  background: #f2f7fa;
  border: 1px #d9dee1 solid;
}
