/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require autocomplete
 */

/* == GENERAL == */

.menu-padded-vert {
  padding-top: 1.4em;
  padding-bottom: 1.0em;
}

.padded-top {
  padding-top: 2.0em;
}

.padded-top-small {
  padding-top: 0.4em;
}

.padded-bottom {
  padding-bottom: 2.0em;
}

.admin-menu .slicknav_menu {
  background: none !important;
  color: white !important;
}

.admin-menu .slicknav_nav a {
  color: white !important;
}

/* == SEARCH == */

.splash-about form {
  padding-top: 20px;
}

/* == COMMITS == */

#recent-commits {
  list-style: decimal;
  text-align: left;
}

#recent-commits li {
  padding-bottom: 8px;
}

/* == PAGE == */

#page {
  padding-top: 0 !important;
}

#sidebar-single_post {
  margin-bottom: 50px;
}

.page-padding-horiz {
  padding-left: 0 !important;
  padding-right: 2.0em !important;

}

/* == CATEGORIES == */

.category-panel {
  float:left !important;
}

.category-panel i {
  color: #469ad0;
}

.category-panel span {
  color: #ec7331;
}

.category-panel > a > div {
  height:220px;
  color: #000100;
}

.category-panel > a > div:hover, .blog-tease:hover {
  border-radius: 3px;
  background: #f2f7fa;
  border: 1px #d9dee1 solid;
}

.blog-tease .preview {
  color: black;
}
