.page-tease {
  h2, h3 { line-height: 2.0em; }
}

table.no-bg tr.even, table.no-bg tr.alt, table.no-bg tr:nth-of-type(even)
{
  background: none;
}

#hdr-logo {
  margin-top: 10px;
}

@media only screen and (min-width: 40.063em) {
  .medium-block-grid-4>li:nth-of-type(4n+1) {
    clear: none !important;
  }
}

.fa-9x {
  font-size: 9em;
}

.fa-12x {
  font-size: 12em;
}

@media screen and (min-width: 641px) {
  .medium-0 { display: none !important; }
}

@media screen and (max-width: 641px) {
  .admin-menu > nav {
    display: none !important;
  }
  .admin-menu > .slicknav_menu {
    border: none !important;
    background: #333333 !important;
  }
  .inner-content { padding-top: 0px; }
  .page-splash { position: relative }
}

@media screen and (max-width: 1025px) {
  .page-padding-horiz {
    padding-left: 2em !important;
  }
}

.panel.error {
  border-color: #FF1F4C !important;
  display: none;
}

input[type="text"] {
  text-align: left !important;
}
