<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//code-for-kids.us4.list-manage.com/subscribe/post?u=7081ef5a6dc1f342ffd3422a9&amp;id=a7f901ba24" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="mc-field-group">
      <input type="email" value="" placeholder="my_email@codeforkids.ca" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
      <select name="CITY" id="mce-CITY">
        <option value="">Please choose a city</option>
        <option value="Ottawa">Ottawa</option>
        <option value="Calgary">Calgary</option>
        <option value="Edmonton">Edmonton</option>
        <option value="Vancouver">Vancouver</option>
        <option value="Montréal">Montréal</option>
        <option value="Toronto">Toronto</option>
        <option value="Kingston">Kingston</option>
        <option value="Waterloo">Waterloo</option>
        <option value="Halifax">Halifax</option>
      </select>
    </div>
    <div class="mc-field-group input-group">
      <br>
      <input type="checkbox" value="1" name="group[17633][1]" id="mce-group[17633]-17633-0"><label for="mce-group[17633]-17633-0" class="white">I consent to receive emails</label>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_7081ef5a6dc1f342ffd3422a9_a7f901ba24" tabindex="-1" value="">
    </div>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
