<div class="panel callout text-center">
  <h3>This is a free wiki page with information on Code For Kids</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget mi odio.
  </p>
</div>
