<footer class="wrap bg-black padded-vert-small">
  <div class="row">
    <% if session[:user_id].nil? %>
      <div class="pull-right">
        <small><%= link_to "Admin Sign in", user_omniauth_authorize_path(:google_oauth2), rel: "nofollow" %></small>
      </div>
    <% end %>
  </div>
</footer>
