<nav class="right">
  <ul class="left inline-list" id="menu">
    <li><a href="http://codeforkids.ca" title="To Code For Kids Site">Go To Code For Kids Main Site</a>
    </li>
    <li class="hide-for-medium-down menu-padded-vert" ><a href="http://facebook.com/codeforkids" target="_blank" title="Like Code For Kids on Facebook"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="hide-for-medium-down menu-padded-vert"><a href="http://twitter.com/codeforkids" target="_blank" title="Follow Code For Kids on Twitter"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="hide-for-small">
      <a class="button radius right small" href="http://codeforkids.ca/collections/all" title="Register Now">Register Now</a>
    </li>
    <li class="hide-for-medium-up">
      <a href="http://twitter.com/codeforkids" target="_blank" title="Like Code For Kids on Facebook"><i class="fa fa-twitter"></i> &nbsp;Twitter</a>
      <a href="http://facebook.com/codeforkids" target="_blank" title="Follow Code For Kids on Twitter"><i class="fa fa-facebook"></i> &nbsp;Facebook</a>
      <a href="http://codeforkids.ca/collections/all" title="Register Now">Register Now</a>
    </li>
  </ul>
</nav>
